$dark-one: #290663;
$dark-two: #b6a3d5;
$gray-one: #bfcfe6;
$gray-two: #f1f5f9;
$gray-three: #f3f5f9;

$black: #000;
$white: #fff;
$red: rgb(255, 34, 34);
$primary-color: #3d3cb5;
$primary-color-light: #6e6eda;
