$dark-one: #5e6c9b;
$dark-two: #ecedf3;
$gray-one: #bfcfe6;
$gray-two: #f1f5f9;
$gray-three: #f3f5f9;

$black: #000;
$white: #fff;
$red: rgb(255, 34, 34);
$primary-color: #09b29c;
$primary-color-light: #09b29b83;
